#minigame
{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    visibility: hidden;
}

#navigationButtonArea
{
    position:absolute;
    right:20px;
    top:20px;
}

#navigationButtonArea button
{
    height: 30px;
    width: 30px;
}

.navAreaSpacer
{
    height: 30px;
}