#minigame
{
    position: absolute;
    width: 88%;
    height: 88%;
    top: 6%;
    left: 6%;
    border-radius: 1px;
    box-shadow: 0 0 0 15px rgba(0,0,0,0.3);
    visibility: hidden;
}

#navigationButtonArea
{
    position:absolute;
    right:20px;
    top:20px;
}

#navigationButtonArea button
{
    height: 30px;
    width: 30px;
}

.navAreaSpacer
{
    height: 30px;
}

/*
    trying things for messagebox
*/

#messageBox {
 visibility:hidden;
 background-color: yellow;
 display: inline-block;
 margin: 1em;
 border-style: dotted; 
 border: 10px;
 position:absolute; 
 top:2%; 
 right:2%;
 text-align: center;
}
#messageBoxContent {
  background-color:yellow;
  display: table;
  height:  100px;
  width:   300px;
  padding: 10px;
  padding-bottom: 30px;
  border:  thin solid darkgray;
}
#messageBoxContent #messageBoxContentParagraph {
  display:        table-cell;
  vertical-align: middle;
  
}

#messsageBoxButton
{
   position: absolute;
    bottom: 0;
    right:35%
}