#menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    background-color: rgba(171,171,171,0.95);
    z-index: 30;
}
#menu input{
    display: block;
    background-color: #555;
    width: 70%;
    border: none;
    font-size: 20pt;
    border-radius: 5px;
    margin: 15px auto;
    color: #FFF;
}
#menu h1 {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20pt;
    color: #FFF;
}