#menu {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    border: 2px solid #faf9d9;
    border-radius: 20px;
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
}
#menu input{
    font-family: 'Calibri';
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    background-color: #298AF4;
    border: none;
    border-radius: 10px;
    width: 70%;
    font-size: 20pt;
    margin: 20px auto;
    color: #BFFFFF;
    padding: 5px;
}
#menu h1{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20pt;
    color: #FFF;
}
.menuAnimate{
    position: relative;
    opacity: 0;
    bottom: 10px;
}