@import url('minigame3Styles.css');
@import url('minigame3Styles.css');
.wrap {
    width:100%;
}
#counterDiv {
    display:block;
    float:left;
    margin-left:20px;
    width:10%;
    padding:20px;
    background-color:#bf8338;
    border-radius: 15px 50px 5px 30px; opacity:0.8;
}
#counterDiv .menuItem img {
    width:100%;
}

#chopTreeInfo{
    background-color:#bf8338;
    margin:auto;
    text-align: center;
    font-size:25pt;    
}

#counterDiv .menuItem input {
    width:92%;
    text-align:center;
    margin-left:4px;
    margin-top:2px;
}

#countedButton{
    font-family: 'Calibri';
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #298AF4;
	border: none;
	border-radius: 10px;
	font-size: 20pt;
	color: #BFFFFF;
    margin-left:2.5%;
	padding: 5px;
}

.menuItem{
	border: 5px solid black;
    margin-bottom:10px;
}

#counterDiv .menuItem {
    width:80%;
}

#treeBin {
    display:none;
    width:70%;
    height: 400px;
    padding:20px;
    margin-left:20px;
    background-color:#bf8338;
    border-radius: 15px 50px 5px 30px; 
    opacity:0.8;
}

#treeBin .treeDiv {
    width:7%;
    display:inline-block;
    position:relative;
    height:100px;
}
#treeBin .treeDiv .imgContent {
    position: absolute;
    bottom: 0;
    display:inline-block;
    font-size:20pt;
    margin-left:43px;
    text-align: center;
    color:white;
    z-index:999;
}
#treeBin .treeDiv img {
    position:absolute;
    top:0px;
    left:0px;
    transform-origin: 50% 90%;
    z-index:1;
}

.clearfix {
    clear:both;
}

#treeBin .treeDiv img {
    height:100px;
}

.transf2 {
  top: 85px;
  left: 75px;
  transition-duration:1s;
  transform: rotate(90deg); 
}


.transf1 {
  top: 85px;
  left: 75px;
  transition-duration:1s;
  transform: rotate(-90deg); 
}

@media screen and (min-width: 1000px) {
    #treeBin {
        height: 800px;
    }
    #treeBin .treeDiv {
        width:6.8%;
        height:200px;
    }
    #treeBin .treeDiv img {
        height:200px;
    }
    #treeBin .treeDiv .imgContent {
        font-size:50px;
        display:inline-block;
        left: 40px;
    }
}

#treeBin.treeBinWithTrees {
    display: inline-block;
}

.number{
    text-align:center; 
    vertical-align:text-bottom
}

.counterImg{
    height:10%;
    width:10%;
}
