@keyframes text{
    0%{
       opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#splashScreen h1 {
    cursor: pointer;
    animation-name: text;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-family: 'Calibri';
    font-size: 30pt;
    margin:auto;
}
#splashScreen{
    position: absolute;
    width: 400px;
    height: 450px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#splashScreen img{
    cursor: pointer;
    width: 100%;
    height: auto;
}

#mainGame{
    background: url(../img/Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}