@keyframes test{
    0%{
       opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#splashScreen h1{
	   animation-name: test;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}