#main-game {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#splashScreen {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 100;
}
#splashScreen img{
    height: 100%;
    width: auto;
}
#splashScreen h1{
    font-size: 30pt;
    text-align: center;
}