#menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    background-color: rgba(171,171,171,0.95);
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
}
#menu input{
    display: block;
    background-color: #555;
    width: 70%;
    border: none;
    font-size: 20pt;
    margin: 20px auto;
    color: #FFF;
    padding: 5px;
}
#menu h1{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 20pt;
    color: #FFF;
}
.menuAnimate{
    position: relative;
    opacity: 0;
    bottom: 10px;
}